<div id="heroImg">
    <div id="contBanner">
        <div id="contTitle">

            <h1 id="headerTitle" href="#">
                Filmer
            </h1>
        </div>

        <ul id="navList">
            <li><a href='list' class="navLink"> Accueil </a></li>
            <li><a href='movies' class="navLink"> All our movies</a></li>
        </ul>
    </div>


    <div id="searchbar">
        <h2 id="searchbarTitle">Find your new favorite movie now!</h2>
        <app-input></app-input>
    </div>
</div>